:root {
  --primary-color:hsl(322, 100%, 66%);
  --pale-cyan:hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --gray-blue:hsl(208, 11%, 55%);
  --white:white;
}

$primary-color:hsl(322, 100%, 66%);
$pale-cyan:hsl(193, 100%, 96%);
$dark-cyan: hsl(192, 100%, 9%);
$gray-blue:hsl(208, 11%, 55%);
$white:white;


